language: php
php:
  - "7.4"
  - "7.3"
  - "7.2"
  - "7.1"
  - "7.0"
  - "5.6"

install:
  - composer install
  - SPEC=swagger php -S 127.0.0.1:8080 tests/rest/app.php &
  - SPEC=openapi php -S 127.0.0.1:8081 tests/rest/app.php &

script:
  - vendor/bin/phpunit

jobs:
  include:
    - stage: documentation
      if: branch = master
      install: skip
      script: "curl https://opensource.byjg.com/add-doc.sh | bash /dev/stdin php php-swagger-test"
